@mixin green-button {
    display: block;
    margin: auto;
    margin-top: 56px;
    font-size: 18px;
    background: $green;
    color: white;
    border: none;
}
@mixin input {
    width: 260px;
    font-family: montserrat;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $ltgray;
    border: none;
    border-bottom: 1px solid $ltgray;
  }
  @mixin before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}