
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$blue: #6696E2;
$peach: #E27866;
$green: #41D395;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  height: 72px;
  padding: 10px 147px;
  background: #1C1C1C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a{
    margin-left: 22px;
    font-size: 0.9em;
  }
  img{
    width: 119px;
  }
}

header {
  height: 639px;
  padding: 65px 148px;
  background:url(../images/bg-1.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left{
    max-width: 655px;
    img {
      width: 245px;
    }
    h1 {
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    hr {
      width: 75px;
      border: 1px solid white;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      margin-bottom: 30px;
    }
    button {
      width: 135px;
      height: 42px;
      padding: 10px;
      border: 2px solid white;
      background: transparent;
      color: white;
      font-family: montserrat;
    }
  }
  
  .form{
    width: 360px;
    height: 425px;
    padding: 20px 50px;
    background-color: white;
    color: #1C1C1C;
    border-radius: 5px;
    text-align: left;
    h3{
      max-width: 260px;
      background: #F5F5F5;
    }
    h4{
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .input{
      width: 260px;
      font-family: montserrat;
      font-size: 12px;
      padding: 5px;
      margin-bottom: 20px;
      color: #D8D8D8;
      border: none;
      border-bottom: 1px solid #D8D8D8;
    }
    label{
      font-size: 9px;
      font-weight: 600;
    }
    h5{
      margin-top: 40px;
      background-color: $green;
      color: white;
      font-size: 18px;
    }
  }
}

.social {
  height: 105px;
  padding: 20px 150px;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .icons {
    height: 30px;
    max-width: 515px;
    color: $peach;
    opacity: 0.65;
    margin: auto 0;
  }
  p {
    max-width: 400px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
  }
}

//PAKEISTI I GRID
.tabs {
  height: 595px;
  padding: 120px 150px;
  background:url(../images/bg-2.png);
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  flex-direction: row;

  .left{
    div{
      height: 100px;
      width: 100px;
      background: #A37169;
      margin-bottom: 20px;
      margin-right: 55px;
    }
  }
  .center{
    margin-right: 70px;
  h1{
    width: 520px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 40px;
  }
  p{
    margin-top: 20px;
    width: 520px;
    font-size: 14px;
    line-height: 20px;
  }
}
  .right{
    width: 360px;
    height: 360px;

    .topimages{
      display: flex;
      flex-direction: row;
    }
    img{
      width: 371px;
    }
  }
}

#brand {
  height: 595px;
  padding: 90px 180px;
  background-color: #1C1C1C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img{
    width: 388px;
  }

  #side{
    max-width: 455px;
    h2{
      font-size: 30px;
      line-height: 43px;
      margin-bottom: 30px;
    }
    hr{
      width: 200px;
      border: 1px solid $peach;
      margin-bottom: 30px;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 30px;
    }
    .title{
      display: flex;
      flex-direction: row;
      i{
        margin-right: 20px;
        background: #E27866;
      
      }
      .info{
        h6{
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
      }
    }
  }
}
}

#why {
  height: 595px;
  background-color: white;
  color: #86878B;
  text-align: center;
  margin: auto;
  h1{
    font-size: 36px;
    margin: auto;
    margin-top: 98px;
    margin-bottom: 30px;
    color: #212121;
  }
  hr{
    width: 64px;
    border: 2px solid $peach;
    margin: auto;
    margin-bottom: 30px;
  }
  p{
    font-size: 14px;
    margin-bottom: 60px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  .points {
    max-width: 280px;
    i {
      padding: 10px;
      color: $peach;
      border: 1px solid $peach;
      border-radius: 20px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin: 35px;
      color: #333333;
    }
    p {
      margin-bottom: 0;
    }
  }
}
}

#pricing {
  height: 883px;
  padding: 100px 145px;
  text-align: center;
  background-color: $blue;
  color: white;
  h2 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
  }
  hr{
    width: 64px;
    border: 2px solid $green;
    margin: auto;
    margin-bottom: 30px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
  }

  .container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .block {
    background: #212121;
    width: 343px;
    padding: 20px;
    border-radius: 6px 6px;
    gap: 30px;
    flex-wrap: flex;
    flex-direction: row;
    text-align: center;
  }
}

.comments {
  height: 591px;
  text-align: center;
  h2{
    font-size: 36px;
    margin: auto;
    margin-top: 98px;
    margin-bottom: 30px;
    color: #212121;
  }
  hr{
    width: 64px;
    border: 2px solid $blue;
    margin: auto;
    margin-bottom: 30px;
  }
}

.contact {
  height: 572px;
}

footer {
  height: 124px;
  background-color: #1C1C1C;
  i {
    color: $peach;
  }
  p {
    color: white;
    opacity: 0.5;
  }
}


